* {
  padding: 0;
  margin: 0;
}

:root {
  background-color: rgb(40, 44, 52);
  color: white;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1000px;
  width: 100%;
}

@media screen and (min-width: 500px){
  .serviceCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    max-width: 1000px;
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 10px;
}

.cardTopic {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
